* {
    font-family: 'Poppins', sans-serif;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5 {
    margin-bottom: 15px;
}

a, a:visited, a:hover, a:active {
    color: white;
    text-decoration: none;
}

.outer-container {
    text-align: center;
    margin-top: 80px;
}

.inner-container {
    display: inline-block;
}

.button-container {
    margin-bottom: 20px;
    text-align: center;
}

button {
    padding: 20px 40px;
    font-size: 25px;
    background-color: #549ee7;
    text-align: center;
    width: 220px;
    cursor: pointer;
}

button:hover {
    background-color: #3586d2;
}

button, .tui-container input, .tui-container .tui-button {
    border: 1px solid #549ee7;
    -webkit-border-radius: 100px 100px 100px 100px;
    border-radius: 100px 100px 100px 100px;
    outline: none;
}

.tui-container {
    width: 1000px;
}

.tui-container .tui-instructions {
    margin-bottom: 40px;
}

.tui-container .tui-button {
    border-radius: 0 100px 100px 0;
}

.tui-container input {
    border-radius: 100px 0 0 100px;
    width: 300px;
    text-align: left;
}

.tui-container input, .tui-container .tui-button {
    font-size: 15px;
    padding: 10px 20px;
}

.dominion-image img {
    width: 500px;
}

.description-heading {
    margin-bottom: 37px;
}

.text-container {
    width: 1000px;
    text-align: left;
}