* {
    font-family: 'Poppins', sans-serif;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0;
    padding: 0;
}
*::-webkit-scrollbar {
    display: none;
}

h1, h2, h3, h4, h5 {
    margin-bottom: 25px;
}

a, a:visited, a:hover, a:active {
    color: #0062cc;
    text-decoration: none;
}

.container {
    max-width: 960px;
}

.tui-container .row {
    margin: 0;
}

.pricing-header {
    max-width: 700px;
}

.card-deck .card {
    min-width: 220px;
}

.dominion-image img {
    width: 500px;
}

.text-left .description-heading {
    margin-bottom: 37px;
}

.welcome-text h1{
    margin-bottom: 50px;
}

.button-container {
    margin-bottom: 20px;
    text-align: center;
}

.button-container button {
    padding: 12px 29px;
    font-size: 25px;
    width: 150px;
    cursor: pointer;
    border: 1px solid #549ee7;
    -webkit-border-radius: 100px;
    border-radius: 100px;
}

.card-stack img {
    width: 180px;
    margin: 0 42px 25px 0;
    cursor: pointer;
}

.player-name {
    padding-top: 10px;
    margin: 0 35px 15px 0;
}

.player-money {
    margin: 0 35px 15px 0;
}

.player-money.number-circle {
    margin-right: 25px;
    font: 33px Arial, sans-serif;
    width: 45px;
    height: 45px;
    border: 0.1em solid #e2b007;
    color: #fff;
    background: #e2b007;
    text-align: center;
    border-radius: 50%;
    line-height: 48px;
    box-sizing: content-box;
}

.input-tui {
    margin: 10px 20px 0 0;
}

.input-tui input {
    width: 40%;
    margin-right: 15px;
}

.input-tui button {
    width: 85px;
}