@primary-color: #549ee7;
@secondary-color: #3586d2;
@coin-color: #e2b007;
@white: #fff;
@coin-size: 45px;
@transition: all 200ms ease-in-out;
@select: none;
@margin-0: 0;
@margin-10: 10px;
@margin-15: 15px;
@margin-20: 20px;
@margin-40: 40px;
@width-1000: 1000px;
@width-500: 500px;
@border-radius-100px: 100px;

* {
  font-family: 'Poppins', sans-serif;
  -webkit-transition: (@transition);
  -moz-transition: (@transition);
  -ms-transition: (@transition);
  -o-transition: (@transition);
  transition: (@transition);
  -webkit-touch-callout: (@select);
  -webkit-user-select: (@select);
  -khtml-user-select: (@select);
  -moz-user-select: (@select);
  -ms-user-select: (@select);
  user-select: (@select);
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5 {
  margin-bottom: (@margin-15);
}

a, a:visited, a:hover, a:active {
  color: #3586d2;
  text-decoration: none;
}

.outer-container {
  text-align: center;

  .inner-container {
    display: inline-block;

    .dominion-image img {
      width: (@width-500);
      margin-top: (@margin-20);
    }

    .button-container {
      margin-bottom: (@margin-20);
      text-align: center;
    }

    button {
      padding: 20px 40px;
      font-size: 25px;
      background-color: (@primary-color);
      text-align: center;
      width: 220px;
      cursor: pointer;
      border: 1px solid (@primary-color);
      -webkit-border-radius: (@border-radius-100px);
      border-radius: (@border-radius-100px);
      outline: none;
    }

    button:hover {
      background-color: (@secondary-color);
    }

    .tui-container {
      width: (@width-1000);

      input, .tui-button {
        border: 1px solid (@primary-color);
        -webkit-border-radius: (@border-radius-100px);
        border-radius: (@border-radius-100px);
        outline: none;
      }

      .tui-instructions {
        margin-bottom: (@margin-40);
      }

      .tui-button {
        border-radius: 0 100px 100px 0;
      }

      input {
        border-radius: 100px 0 0 100px;
        width: 300px;
        text-align: left;
      }

      input, .tui-button {
        font-size: 15px;
        padding: 10px 20px;
      }

      .card-row {
        margin-top: (@margin-20);
        width: (@width-1000);

        .card-stack img {
          width: 180px;
          margin: (@margin-10);
          float: left;
          cursor: pointer;
        }
      }

      .player {
        margin-top: (@margin-40);

        .player-name {
          margin-left: (@margin-10);
          text-align: right;
          padding-top: (@margin-10);
        }

        .player-money {
          margin-right: (@margin-10);
          text-align: center;
          float: left;
        }

        .player-money.number-circle {
          margin-left: (@margin-10);
          font: 33px Arial, sans-serif;
          width: (@coin-size);
          height: (@coin-size);
          border: 0.1em solid (@coin-color);
          color: (@white);
          background: (@coin-color);
          text-align: center;
          border-radius: 50%;
          line-height: 48px;
          box-sizing: content-box;
        }
      }


    }

    .text-container {
      width: (@width-1000);
      text-align: left;

      .description-heading {
        margin-bottom: 37px;
      }
    }
  }
}


