@import de.htwg.wt.dominion.model.cardComponent.cardBaseImpl.Card
@(controllerString: String)(playerActions: Int)(playerBuys: Int)(playerMoney: Int)(phase: String)(turn: Int)(playerName: String)(playerHand: List[Card])(playingDecks: List[List[Card]])
@main("Welcome to Dominion") {

    <div class="pricing-header px-3 mx-auto text-center">
        <div id="titlescreen">
            <dominion-logo-component></dominion-logo-component>
            <div class="welcome-text"><h1>{{ title }}</h1></div>
            <div class="button-container"><a href="#"><button type="button" class="btn btn-primary play">{{ play }}</button></a></div>
            <div class="button-container"><a href="#"><button type="button" class="btn btn-primary rules">{{ rules }}</button></a></div>
            <div class="button-container"><button type="button" class="btn btn-primary quit_game">{{ quit }}</button></div>
        </div>

        <div id="playerInit">
            <dominion-logo-component></dominion-logo-component>
            <dominion-player-count-component></dominion-player-count-component>
        </div>

        <div id="nameInit">
            <dominion-logo-component></dominion-logo-component>
            <dominion-name-input-component></dominion-name-input-component>
        </div>

        <div id="rules">
            <dominion-logo-component></dominion-logo-component>
            <div class="welcome-text"><h1>{{ title }}</h1></div>
            <div class="text-left">
                <dominion-rules-goal></dominion-rules-goal>
                <dominion-rules-start></dominion-rules-start>
                <dominion-rules-phase></dominion-rules-phase>
                <dominion-rules-description></dominion-rules-description>
            </div>
        </div>
    </div>

    <div id="dominion-game">
        <dominion-game></dominion-game>
    </div>

}