@*
* This template takes a single argument, a String containing a
* message to display.
*@
@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@
@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import org.webjars.play.WebJarsUtil
@import controllers.AssetsFinder
@import play.api.data._
@import forms.TotpSetupForm.Data
@import com.mohiva.play.silhouette.impl.providers.GoogleTotpCredentials
@import com.mohiva.play.silhouette.impl.providers.GoogleTotpInfo

@this()(implicit webJarsUtil: WebJarsUtil, assets: AssetsFinder)
@(user: models.User, totpInfoOpt: Option[GoogleTotpInfo], totpDataOpt: Option[(Form[Data], GoogleTotpCredentials)] = None)(implicit request: RequestHeader, messages: Messages)
@main("Welcome to Dominion") {

}
