@*
* This template takes a single argument, a String containing a
* message to display.
*@
@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@
@main("Welcome to Dominion") {
    <div class="dominion-image">
        <img src="https://ph.gamekastle.com/categories/cat_2661.jpg">
    </div>

    <h1 class="welcome-text">Welcome to Dominion</h1>
    @*
    * Get an `Html` object by calling the built-in Play welcome
    * template and passing a `String` message.
    *@
    <br>
    <div class="container-button">
        <a href="/dominion/process?input=local" target="_blank">
            <button>Play!</button>
        </a>
    </div>
    <div class="">
        <a href="/dominion/about" target="_blank">
            <button class="button">Rules!</button>
        </a>
    </div>


}
