@*
* This template takes a single argument, a String containing a
* message to display.
*@
@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@
@main("Welcome to Dominion") {
    <div class="dominion-image">
        <img src="https://ph.gamekastle.com/categories/cat_2661.jpg">
    </div>
    <div class="welcome-text">
        <h1>Welcome to Dominion</h1>
    </div>
    <div class="button-container">
        <a href="/dominion/process?input=local">
            <button type="button" class="btn btn-primary">Play</button>
        </a>
    </div>
    <div class="button-container">
        <a href="/dominion/about">
            <button type="button" class="btn btn-primary">Rules</button>
        </a>
    </div>
    <div class="button-container">
        <button type="button" class="btn btn-primary">Quit</button>
    </div>


}
